* {
    margin: 0;
    padding: 0;
}

/* google font family */
body {
    font-family: 'Oranienbaum', serif;
}

/* banner style */
.banner-container {
    align-items: center;
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
}

.banner-items {
    color: whitesmoke;
    text-align: center;
    padding: 300px 50px 0 50px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
    margin-top: 30px;
}

.description {
    padding: 0 50px;
    margin-top: 30px;
}

.link-button {
    margin-top: 50px;
}

.link-button a {
    display: inline;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 30px;
}

/* donation part */
.donate-today-container {
    text-align: center;
    margin: 120px;

}

.donate-amount {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.donate-amount div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
}

.amount {
    background-color: #efece8;
    font-size: 30px;
    font-weight: 500;
}

#amount-color {
    background-color: rgb(250, 243, 244);
    border: 3px solid #f64a4a;
    color: red;
    font-size: 30px;
    font-weight: 400;
}

.input-amount {
    outline: none;
    border-style: hidden;
    border-bottom: 2px solid gray;
    text-align: center;
    width: 70%;
    margin-top: 30px;
}

/* donate plan */
.donate-plan-container {
    margin-bottom: 40px;
}

.our-plans {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;

}

#plan1 {
    display: flex;
    align-items: center;
    background-image: url(../icons/icon5.svg);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 50px;
    background-size: 3em;
    background-color: #EDF5F6;
    height: 350px;
    width: 360px;
    border-radius: 5px;
    margin: 10px;

}

#plan2 {
    display: flex;
    align-items: center;
    background-image: url(../icons/icon8.svg);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 50px;
    background-size: 3em;
    background-color: #FFEEEE;
    height: 350px;
    width: 360px;
    border-radius: 5px;
    margin: 10px;
}

#plan3 {
    display: flex;
    align-items: center;
    background-image: url(../icons/medicine.svg);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 50px;
    background-size: 3em;
    background-color: #FFF4D6;
    height: 350px;
    width: 360px;
    border-radius: 5px;
    margin: 10px;
}